/*specifications*/
body{
	color: blue;
	font-style: bold;
}

ul, li {
	display: block;
	padding: 0; 
	margin: 0;

}
h2, h3, h4, h5 {
	font-weight: bold;
	color: #000;
}
h2{
	text-align: center;
}
h3{
	font-weight: 400;
}
p, div, a, span{
	line-height: 1.5em;
}

/* 1st page*/

.header{
	background: orange;
	color: red;
	padding-top: : 50px;
	padding-bottom: 60px;
}
.logo img {
	margin-top: 10px;
	height: 50px;
}

.menu{
	margin-top: 10px;

}
.menu__item{
	justify-content: center;
	/*flex-direction: column;*/
	flex-direction: row-reverse;
	display: flex;
}
.menu__item a {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	margin: 0 25px;

}
.offer{
	margin-top: 117px;

}
.offer-title{
	font-size: 32px; 
	margin-bottom: 15
}
.offer-intro{
	font-size: 20px;
	line-height: 1.3em;
}
.offer-text{
	font-size: 16px;
	margin-top: 20px;
}
.colosseus{
	display: block;
	height: 220px;
	margin: 140px auto 0 ;

}
.content{
	background: orange;
	padding-top: : 50px;
	padding-bottom: 60px;
}
.footer{
	background: orange;
	padding-top: : 60px;
	padding-bottom: 60px;
}
.footer .container{	
	background: orange;
	padding-top: : 50px;
}
.icons__item{
	margin-right: 30px;
}
.icons__item a {
	color: #000;
	font-size: 42px;
	transition: all 0.3s ease;
}
.icons__item a:hover {
	text-decoration: none;
	font-size: 44px;
	color: red;
}

111




